@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/TlwgTypist/TlwgTypist.css';

body,
h1,
h4,
p,
option {
  font-family: 'Tlwg Typist', monospace;
  color: black;
  background-color: white;
}

.btn {
  font-family: 'Tlwg Typist', monospace;
}

pre, textarea {
  font-family: 'Tlwg Typist', monospace;
  font-size: 18px;
  width: 100%;
  max-width: 900px;
  /* background-color: lightgray; */
}

@media all and (max-width: 1080px) {

  textarea,
  pre {
    font-family: 'Tlwg Typist', monospace;
    font-size: 14px;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.play {
  background-color: green;
}

.stop {
  background-color: red;
}